<section>
    <h1>Products</h1>

    <div class="collection-filter">
        <input type="text" placeholder="Search" #toSearch
            (input)="searchMerch(toSearch.value, filterBy.value, sortBy.value)">

        <div class="collection-sorts">
            <div class="collection-sort">
                <label for="sort-by">Filter by:</label>
                <select (change)="filterMerch(filterBy.value, toSearch.value, sortBy.value)" #filterBy>
                    <option *ngFor="let current of filterByOptions" value="{{current['value']}}">{{current['label']}}
                    </option>
                </select>
            </div>

            <div class="collection-sort">
                <label for="sort-by">Sort by:</label>
                <select (change)="sortMerch(sortBy.value)" #sortBy>
                    <option *ngFor="let current of sortByOptions" value="{{current['value']}}">{{current['label']}}
                    </option>
                </select>
            </div>
        </div>


    </div>


    <app-merch-list [merch]="this.merch"></app-merch-list>
</section>