<div *ngIf="!orders.length">
    <h1>No orders</h1>
</div>

<table *ngIf="orders.length">
    <thead>
        <tr>
            <td>Total Price</td>
            <td>Status</td>
            <td>Created</td>
            <td>View Products</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let order of orders">
            <td>${{order.items | sumPrices: 'price'}}</td>
            <td>{{order.status}}</td>
            <td>{{order.orderDate | date}}</td>
            <td><a routerLink="{{order._id}}">View</a></td>
        </tr>
    </tbody>
</table>