.site-home{
    .banner{
        background: url('./images/banner.png') top center;
        height: 550px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
    }

    .merch{
        width: 80%;
        margin: 0 auto;
    }
}