<footer>
    <div class="footer-wrapper">
        <ul class="links">
            <li>
                <h3>QUICK LINKS</h3>
            </li>
            <li>Search</li>
            <li>Privacy Policy</li>
            <li>Refund Policy</li>
            <li>Terms of Service</li>
        </ul>

        <ul class="social-media">
            <li>
                <h3>Follow us</h3>
            </li>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
        </ul>
    </div>
</footer>