<section>
  <h1>Contact us</h1>

  <p>If you have any suggestions for new products or designs you'd like to see or if you have any questions feel free
    to email us at info@epicirl.shop</p>

  <form [formGroup]="contactsForm" (ngSubmit)="sendMail()">
    <input formControlName="email" type="email" placeholder="Email">

    <input formControlName="subject" type="text" placeholder="Subject">

    <textarea formControlName="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>

    <button type="submit">Submit</button>
  </form>
</section>
