.site-header{
    background: #08105B;
    color: #16DB94;
    padding: 0.5em;

    .header-wrapper{
        display: flex;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    
        h1{
            margin: 0;
        }

        nav{
            margin-left: auto; 

            ul{
                display: flex;
                padding: 0;
                
                li{
                    list-style-type: none;
                    cursor: pointer;

                    &:hover{
                        color: #fff;
                    }
                }
    
                li:not(:last-child){
                    margin-right: 2em;
                }
            
            }
        }
    }
}