<header class="site-header">
    <div class="header-wrapper">
        <h1>EpicIRL</h1>

        <nav>
            <ul>
                <li routerLink="/home">Home</li>
                <li routerLink="/collections/all">Shop</li>
                <li>Contact us</li>
                <li routerLink="/collections/add" *ngIf="isAdmin && !isAuthenticated">Add merch</li>
                <li routerLink="/account/login" *ngIf="isAuthenticated">Account</li>
                <li *ngIf="!isAuthenticated" (click)="logout()">Logout</li>
            </ul>
        </nav>
    </div>
</header>