.checkout {
  display: flex;
  justify-content: space-between;
  margin: 2em auto;
  width: 80%;
}

form.information-form {
  width: 400px;

  label {
    margin: 0.5em 0;
    display: block;
  }

  input {
    width: 100%;
    display: block;
    padding: 0.5em;
  }

  .error {
    color: red;
    text-align: left;
    padding: 0;
    padding-top: 0.5em;
  }
}

form.payment-form {
  width: 400px;
  margin: 0 auto;

  div.radio {
    background: rgb(187, 187, 187);
    width: 100%;
    padding: 0.5em;
    margin: 1em 0;
    display: flex;
    align-items: center;


    img {
      width: 100px;
    }
  }

  div.credit-card {
    .card-container{
      margin: 2em 0;
    }

    .names,
    .card-info{
      display: flex;
    }

    .card-info{
      & div:nth-child(1){
        margin-right: 10px;
      }

      & div:nth-child(2){
        flex-shrink: 70;
      }
    }

    label {
      margin: 0.5em 0;
      display: block;
    }

    input {
      width: 100%;
      display: block;
      padding: 0.5em;
      margin-bottom: 2em;
    }

    button {
      width: 100%;
      padding: 1em;
      cursor: pointer;
      background: #0D19A3;
      border: none;
      font-size: 1em;
      color: #16DB94;
      transition: all 0.3s ease-in-out;
  
      &:hover {
        background: #08105B;
      }
    }
    
  }

  .credit-card,
  #paypal {
    display: none;
  }

  #paypal {
    width: 100%;
  }
}

.cart-details {
  width: 500px;

  ul li {
    list-style-type: none;
    display: flex;
    width: 100%;

    img {
      width: 150px;
      margin-right: 1.5em;
    }
  }

  h4 {
    text-align: right;
  }
}
