<section class="checkout">

  <div class="checkout-details">
    <form [formGroup]="informationForm" class="information-form">
      <h3>Billing Details</h3>
      <label for="full-name">First & last name</label>
      <input formControlName="fullName" type="text" placeholder="First & last name">

      <label for="email">Email adress</label>
      <input formControlName="email" type="email" placeholder="Email adress">

      <label for="adress">Adress</label>
      <input formControlName="adress" type="text" placeholder="Adress">

      <label for="country">Country</label>
      <input formControlName="country" type="text" placeholder="Country">

      <label for="city">City</label>
      <input formControlName="city" type="text" placeholder="City">

      <label for="postal-code">Postal Code</label>
      <input formControlName="postalCode" type="text" placeholder="Postal Code">

      <label for="phone">Phone</label>
      <input formControlName="phone" type="text" placeholder="Phone">
    </form>

    <form [formGroup]="paymentForm" class="payment-form">
      <h3>Payment method</h3>
      <div class="radio">
        <input type="radio" name="payment" value="credit" #credit (click)="changePayment(credit.value)"> Credit card
        <img
          src="https://banner2.kisspng.com/20180523/wqt/kisspng-mastercard-credit-card-american-express-visa-debit-mbna-5b0525b571e990.8787905215270639894666.jpg"
          alt="">
      </div>

      <div class="credit-card" #creditCard>
        <div class="card-container"></div>
        <form card container=".card-container" card-width="400" [messages]="messages" [placeholders]="placeholders"
          [masks]="masks" formatting="false" debug="true" [formGroup]="paymentForm" (ngSubmit)="makePaymentInStripe()">

          <label for="number">Card Number</label>
          <input type="text" name="number" card-number formControlName="cardNumber" />

          <div class="names">
            <div>
              <label for="first-name">First Name</label>
              <input type="text" name="first-name" card-name formControlName="firstName" />
            </div>

            <div>
              <label for="last-name">Last Name</label>
              <input type="text" name="last-name" card-name formControlName="lastName" />
            </div>
          </div>

          <div class="card-info">
            <div>
              <label for="expiry">Expiration Date</label>
              <input type="text" name="expiry" card-expiry formControlName="expDate" />
            </div>

            <div>
              <label for="cvc">CVC</label>
              <input type="text" name="cvc" card-cvc formControlName="cvc" />
            </div>
          </div>

          <button type="submit">Place Order</button>
        </form>
      </div>

      <div class="radio">
        <input type="radio" name="payment" value="paypal" #paypalInput (click)="changePayment(paypalInput.value)">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/PayPal.svg/1280px-PayPal.svg.png" alt="">
      </div>

      <div id="paypal" #paypal></div>
    </form>
  </div>

  <div class="cart-details">
    <ul>
      <li *ngFor="let product of cartProducts">
        <img src="{{product.merchImage}}" alt="">
        <div>
          <h5> {{product.merchName}} x{{product.quantity}}</h5>
          <p>{{product.color | uppercase}}/{{product.size | uppercase}}</p>
        </div>
      </li>
    </ul>

    <h4>Total: ${{cartProducts | sumPrices:'price'}}</h4>
  </div>

</section>