form {
  padding: 0 0 2em 0;
  text-align: center;
  width: 300px;
  margin: 0 auto;

  input {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    padding: 0.5em;
    width: 100%;
  }

  button {
    width: 300px;
    padding: 1em;
    cursor: pointer;
    background: #0D19A3;
    border: none;
    font-size: 1em;
    color: #16DB94;
    transition: all 0.3s ease-in-out;
    margin-top: 2em;

    &:hover {
      background: #08105B;
    }
  }

  .error {
    color: red;
    text-align: left;
    padding: 0;
    padding-top: 0.5em;
  }
}

p {
  text-align: center;

  a {
    color: #08105B;
  }
}
