<form (ngSubmit)="login()" [formGroup]="loginForm">
  <input formControlName="email" matInput type="email" placeholder="Your email...">
  <p class="error" *ngIf="email.hasError('required') && email.dirty">This field is required.</p>
  <p class="error" *ngIf="email.hasError('pattern') && !email.hasError('required') && email.dirty">Enter valid email in
    format: yourname@example.com</p>

  <input formControlName="password" matInput type="password" placeholder="Your password...">
  <p class="error" *ngIf="password.hasError('required') && password.dirty">This field is required.</p>
  <p class="error" *ngIf="password.hasError('minlength') && !password.hasError('required') && password.dirty">Password
    must be at lesat 8 chars.</p>

  <button color="primary">Log in</button>
</form>

<p>No account? <a routerLink="/account/register">Register now</a></p>
