<form [formGroup]="merchCreateForm" (ngSubmit)="createMerch()">
    <input formControlName="merchName" type="text" placeholder="Enter the name of the merch">

    <input formControlName="price" type="number" placeholder="Enter the price of the merch">

    <select formControlName="typeOfMerch" id="typeOfMerch">
        <option *ngFor="let type of typesOfMerch">{{type}}</option>
    </select>

    <input formControlName="imagesOfMerch" type="text" placeholder="Enter link for image">

    <input formControlName="sizes" type="text" placeholder="Enter sizes for the merch and seperate them with ','">

    <input formControlName="colors" type="text" placeholder="Enter colors for the merch and seperate them with ','">

    <button type="submit">Create</button>
</form>