<section>
    <h1>Shopping cart</h1>

    <ul>
        <li>
            <img src="https://cdn.shopify.com/s/files/1/0048/8593/8240/products/mockup-50b57626_240x240.png?v=1549257452"
                alt="">

            <div class="product-details">
                <h6>Random merch name</h6>

                <p>White/XS</p>

                <button>Remove</button>
            </div>


            <input type="number" name="quantity" id="quantity">

            <p class="price">$25.99</p>
        </li>

        <li>
            <img src="https://cdn.shopify.com/s/files/1/0048/8593/8240/products/mockup-50b57626_240x240.png?v=1549257452"
                alt="">

            <div class="product-details">
                <h6>Random merch name</h6>

                <p>White/XS</p>

                <button>Remove</button>
            </div>


            <input type="number" name="quantity" id="quantity">

            <p class="price">$25.99</p>
        </li>
    </ul>
</section>